doctype html
html
  head
    meta(charset='utf-8')
    title fantasy boxing league
  body
  	h1 Fantasy boxing league
  	.div
  		a(href=/howto) how to play
  		a(href=/login) login
  		a(href=/home) home page

  	.lastfight

  	.upcomingfight

  	.footer

