doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title fantasy boxing league
  body
    h1 Fantasy boxing league
    .div
      a(href= 'https://github.com/LouieAdamian') how to play
      a('href= 'https://github.com/LouieAdamian') login
      a(href= 'https://github.com/LouieAdamian') home page
      a(href= 'https://localhost/scorecard') score card
