doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title fantasy boxing league
  body
    h1 Fantasy boxing league
    .div
      a('https://github.com/LouieAdamian') how to play
      a('https://github.com/LouieAdamian') login
      a('https://github.com/LouieAdamian') home page

    .lastfight

    .upcomingfight

    .footer

