<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fantasy Boxing League: Scorecards</title>
  </head>
  <body>
    <h1>FBL SCORECARD</h1>
    <form>
    <table>
      <tr>
	<td>
	  <h3>TITLE</h3>
	  <input type="text" name="title" placeholder="WBO" />
	</td>
	<td>
	  <h3>REF</h3>
	  <input type="text" name="ref" placeholder="Tony Weeks" />
	</td>
	<td>
	  <h3>SUPERVISORS</h3>
	  <input type="text" name="supervisors" />
	</td>
      </tr>
      <tr>
	<td>
	<h3>DATE</h3>
	<input type="date" name="date" />
	</td>
	<td>
	<h3>VENUE</h3>
	<input type="text" placeholder="Madison Square Garden" name="venue" />
	</td>
      </tr>
      <tr>
	<td>	  
	  <h3>RED CORNER</h3>
	  <input type="text" name="red-corner" placeholder="Tyson Fury" />
	</td>
	<td>
	  <h3>WEIGHT</h3>
	  <input type="number" min="105" max="331" value="257" />
	</td>
      </tr>
      <tr>
	<h3>VS</h3>
      </tr>
      <tr>
	<td>
	  <h3>BLUE CORNER</h3>
	  <input type="text" name="blue-corner" placeholder="Deontay Wilder" />
	</td>
	<td>
	  <h3>WEIGHT</h3>
	  <input type="number" min="105" max="331" value="227" />
	</td>
      </tr>
      <tr>
	<td>
	  <h3># ROUNDS</h3>
	  <input type="number" min="4" max="12" value="12" />
	</td>
      </tr>
      <hr>
      <tr>
	<td>
	  <h3>SCORE</h3>
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-1" min="6" max="10" value="10" />
	</td>
	<td><b>1</b></td>
	<td>
	  <input type="number" name="blue-score-1" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-2" min="6" max="10" value="10" />
	</td>
	<td><b>2</b></td>
	<td>
	  <input type="number" name="blue-score-2" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-3" min="6" max="10" value="10" />
	</td>
	<td><b>3</b></td>
	<td>
	  <input type="number" name="blue-score-3" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-4" min="6" max="10" value="10" />
	</td>
	<td><b>4</b></td>
	<td>
	  <input type="number" name="blue-score-4" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-5" min="6" max="10" value="10" />
	</td>
	<td><b>5</b></td>
	<td>
	  <input type="number" name="blue-score-5" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-6" min="6" max="10" value="10" />
	</td>
	<td><b>6</b></td>
	<td>
	  <input type="number" name="blue-score-6" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-7" min="6" max="10" value="10" />
	</td>
	<td><b>7</b></td>
	<td>
	  <input type="number" name="blue-score-7" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-8" min="6" max="10" value="10" />
	</td>
	<td><b>8</b></td>
	<td>
	  <input type="number" name="blue-score-8" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-9" min="6" max="10" value="10" />
	</td>
	<td><b>9</b></td>
	<td>
	  <input type="number" name="blue-score-9" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-10" min="6" max="10" value="10" />
	</td>
	<td><b>10</b></td>
	<td>
	  <input type="number" name="blue-score-10" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-11" min="6" max="10" value="10" />
	</td>
	<td><b>11</b></td>
	<td>
	  <input type="number" name="blue-score-11" min="6" max="10" value="10" />
	</td>
      </tr>
      <tr>
	<td>
	  <input type="number" name="red-score-12" min="6" max="10" value="10" />
	</td>
	<td><b>12</b></td>
	<td>
	  <input type="number" name="blue-score-12" min="6" max="10" value="10" />
	</td>
      </tr>
    </table>
    <input type="submit" />
    </form>
  </body>
</html>
